
/* Nexolib CSS */

/* Global */
body {
  margin: 0;
  padding: 0;
  font-weight: 200;
  cursor: default;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none; 
  -webkit-touch-callout: none;
  display: flex;
  flex-direction: column; 
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'OS_Icons';
  src: url('/icons.ttf') format('truetype');
}

h1{
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 2.5em;
}

h2{
  padding-top: 0;
  margin-top: 0;
}


.sIcons {
  font-family: 'OS_Icons';

}

main{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin: 0;
  overflow: scroll;
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);

}

/* Botones */

button{
  background-color: rgb(219, 219, 219);
  border: none;
  height: 32px;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-select: none; 
  -webkit-touch-callout: none;
  font-size: 18px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

button:hover {
  background-color: rgb(218, 68, 153);
  color: white;
  transform: scale(1.1);
  transition: all 0.2s;

}

button:active {
  transform: scale(0.9);
  transition: all 0.2s;
  background-color: #000000;

}

.barButton{
  width: 32px;
  padding: 0;

}

/* Ventana */

#appBar {
    height: 50px;
    background-color: rgb(239, 239, 239);
    width:100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-app-region: drag; 
    user-select: none;  
    -webkit-user-select: none; 
    -webkit-touch-callout: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    cursor: move;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}





  #winButtons {
    height: 34px;
    -webkit-app-region: no-drag; 
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: fixed;
    right: 5px;
    margin: 0;
    padding: 0;
    top: 8px;    
    z-index: 1042;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    overflow: visible;
}
  
  
  #winButtons button {
    height: 20px;
    width: 20px;
    background-color: rgb(219, 219, 219);
    border-radius: 30%;
    margin: 0 2px;
    user-select: none;
    -webkit-app-region: no-drag;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    border: none;
    padding: 0;
    transition: all 0.2s;
    font-size: 12px;
}

  
#winButtons{

    #minbtn:hover{
      background-color: rgb(68, 118, 218);
      color: white;
      transition: all 0.2s;
    }
    #resbtn:hover {
      background-color: rgba(34, 146, 34, 0.881);
      color: white;
      transition: all 0.2s;
    }
    #closebtn:hover {
      background-color: rgba(255, 0, 0, 0.881);
      color: white;
      transition: all 0.2s;
    }



}

  /* - Sectores - */

#windowLeftSector{
  position: absolute;
  left: 0;
  top:0;
  height: 50px;
  display: flex;
  justify-content: left;
  padding: 0 4px;
  align-items: center;
  
}

#windowCenterSector{
  position: absolute;
  left: 50%;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateX(-50%);
  top:0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#windowRightSector{

  position: absolute;
  right: 82px;
  
  top:0;
  height: 50px;
  display: flex;
  justify-content: right;
  padding: 0 4px;
  align-items: center;
}

/* - Menu Contextual - */
.context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 150px;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu-item {
  padding: 10px;
  cursor: pointer;
}

.context-menu-item:hover {
  background-color: #f0f0f0;
}

/* - Barra de App - */

.leftBar{
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 50px;
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 1000;
  overflow: scroll;

}
.leftBar_wide{
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 260px;
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: scroll;
  z-index: 1000;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.114);

}

.rightContent{
  position: fixed;
  right: 0;

  top: 50px;
  bottom: 0;
  left: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 1000;
  gap: 20px ;
}
.rightContent_narrow{
  position: fixed;
  top: 50px;
  left: 260px;
  bottom: 0;
  z-index: -1000 ;
  padding: 0 20px;
  height: 100%;
  width: calc(100vw - 260px);
  height: calc(100vh - 50px);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 1000;
  gap: 20px ;
  overflow: scroll;
  scroll-behavior: smooth;
  margin: 0;
  border: 0;
  padding-bottom: 20px;


}

.leftBarSectionText{
  font-size: 18px;
  font-variant-caps: all-small-caps;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
  color: rgb(100, 100, 100);
  font-weight: 200;
  user-select: none;
  -webkit-user-select: none; 
  -webkit-touch-callout: none;
}

.leftBarSectionCard{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  margin: 2px 14px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.114);


}

.leftBarSectionCard:hover{
  background-color:rgb(218, 68, 153);
  transition: all 0.2s;
  color: white;
  transform: scale(1.1);
}
.leftBarSectionCard:active{
background-color: #000000;
color: white;
transform: scale(0.9);
transition: all 0.2s;
}
.leftBarSectionCard:enabled{
  background-color: #000000;
  color: white;
  transform: scale(1);
  transition: all 0.2s;
}

/* - Cards - */

.bigCard{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  margin-left: -40px;
  padding: 20px;
  place-self: center;
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.114);
}
.canOpen:hover{
  background-color:rgb(224, 224, 224);
  transition: all 0.2s;
  color: black;
  transform: scale(1.01);
}
.canOpen:active{
background-color: #000000;
color: white;
transform: scale(0.9);
transition: all 0.2s;
}


.cardContainer{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: top;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
  margin: 0;
  border: 0;
}
.card{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.114);
  transition: all 0.2s;
  margin-left: -20px;
  width: 200px;
  height: 50px;
}
.card:hover{
  background-color:rgb(218, 68, 153);
  transition: all 0.2s;
  color: white;
  transform: scale(1.05);
}
.verticalCard{
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.hBox{
  display: flex;
  flex-direction: row;
  width: 100%;
  h2{
    justify-self: left;
    text-align: left;
  }
  .sIcons{
    font-size: 1.8em;
    justify-self: right;
    text-align: right;

  }
}
.cardDescription{
  font-size:12px;
  font-weight: 200;
  color: rgb(100, 100, 100);
  padding-top: 0;
  margin-top: -20px;
}
.cardTitle{
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding-bottom: 0;
  margin-bottom: 0;
}
.cardImage{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

